*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
 



h2{
    height: 15vh;
    width: auto;
    text-align: center;
    background-color: rgb(221, 218, 218);
    padding-top: 4vh;

}

main{
    min-height: 66vh ;
    
    width:auto;
   
} 

#tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1 rem;
    padding : 1rem;
    margin:1rem;
    
}


.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    /*margin-bottom: 10px;*/
}


.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    

}
.card{
    margin: 5px;
}

.card-img-top{
    width: 18rem;
    height: 12rem;
}



footer{
    margin-top:50px;       
}

/* pagina stats*/

.container{        /*tambien esta en contact*/
    
    margin-top: 50px; 
    
}

table th{
    border: 1px solid rgb(27, 27, 27);
}
table tr{
    border: 1px solid rgb(27, 27, 27);
}

table td{
    border: 1px solid rgb(27, 27, 27);
}

/*pagina details*/

.tarjeta{
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    
}



